<div>
  <page-banner></page-banner>
  <div ng-controller="TreeController" id="treeView">
    <table>
      <tr>
        <td style="vertical-align:top;">
          <div class="home-tree">
            <tree tree-data="local_data" 
                  tree-control="local_tree" 
                  on-select="tree_handler(branch)" 
                  initial-selection="Code World"
                  expand-level="1"></tree>                                
          </div>                    
        </td>
        <td style="padding:20px;vertical-align:top;">
          <div class="row">                                                
            <div class="col-lg-11 col-md-11 col-s-11 col-xs-11">                            
              <div class="alert alert-info" bind-html-compile="output"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
